* {
  font-family: "Open Sans", arial, sans-serif;

}

h1 {
  color: #558712;
  border-style: solid;
  border-width: 1px;
  border-color: #7D7B7B;
}

h3:hover {
  color: #7D7B7B;
  font-size: 200%;
}

h3 {
  transition: font-size 4s ease-in 1s;
}

body {
  background-color: #DFDEDE;
}

p {
  color: #7D7B7B;
}

.social {
  color: black;

}

img {
  border-style: dashed;
  border-width: 5px;
  border-color: #0092DD;
  transition: border 4s ease-in 1s;

}

img:hover {
  border-color: #7D7B7B;

}

.box {
  height: 150px;
  width: 150px;
  border: 10px solid #7DC623;
  background: #558712;

}

.container {
  height: 300px;
  background-color: #7D7B7B;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.future {
  color: #558712;
}

.done {
  color: #4C4949;
}

.done:hover {
  background-color: #DE0093;
}

.doneimg {
  opacity: 1;
}

.futureimg {
  opacity: .25;
}

a:hover {
  text-decoration: none;
}

.favs p:nth-child(3n+1) {
  background-color: #DE1C0B;
  font-weight: bolder;
}

#about-me {
  color: #9352A2;
  font-style: italic;
}
