* {
  font-family: "Open Sans", arial, sans-serif;

}

h1 {
  color: #558712;
  border-style: solid;
  border-width: 1px;
  border-color: #7D7B7B;
}

h3:hover {
  color: #7D7B7B;
  font-size: 200%;
}

h3 {
  transition: font-size 4s ease-in 1s;
}

body {
  background-color: #DFDEDE;
}

p {
  color: #7D7B7B;
}

.social {
  color: black;

}

img {
  border-style: dashed;
  border-width: 5px;
  border-color: #0092DD;
  transition: border 4s ease-in 1s;

}

img:hover {
  border-color: #7D7B7B;

}

.box {
  height: 150px;
  width: 150px;
  border: 10px solid #7DC623;
  background: #558712;

}

.container {
  height: 300px;
  background-color: #7D7B7B;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.future {
  color: #558712;
}

.done {
  color: #4C4949;
}

.done:hover {
  background-color: #DE0093;
}

.doneimg {
  opacity: 1;
}

.futureimg {
  opacity: .25;
}

a:hover {
  text-decoration: none;
}

.favs p:nth-child(3n+1) {
  background-color: #DE1C0B;
  font-weight: bolder;
}

#about-me {
  color: #9352A2;
  font-style: italic;
}

/* form styles */

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

input[type=submit] {
  width: 100%;
  background-color: #558712;
}

input {
  border-radius: 15px;
}

fieldset {
  border: none;
}

fieldset input {
  display: inline;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #9E9C9C;
}

.checkbox input:checked ~ .checkmark {
  background-color: #DE0093;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
